In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd

In [10]:
df_data = pd.read_csv(body)

In [7]:
df_data.drop(df_data_1.loc[df_data_1['Borough']=='Not assigned'].index, inplace=True)

In [8]:
df_data.rename(columns={'Postcode':'PostalCode', 'Neighbourhood':'Neighborhood'}, inplace=True)
df_data.set_value('M5A','Neighborhood','Regent Park, Harbourfront')
df_data['Neighborhood':'Regent Park']==['Neighborhood':'Regent Park, Harbourfront']

In [11]:
df_data.groupby('Neighborhood').count()
df_data.head(10)

  PostalCode           Borough               Neighborhood
0        M3A        North York                  Parkwoods
1        M4A        North York           Victoria Village
2        M5A  Downtown Toronto  Regent Park, Harbourfront
3        M6A        North York           Lawrence Heights
4        M6A        North York             Lawrence Manor
5        M7A      Queen's Park               Queen's Park
6        M9A         Etobicoke           Islington Avenue
7        M1B       Scarborough                      Rouge
8        M1B       Scarborough                    Malvern
9        M3B        North York            Don Mills North

In [12]:
df_data.shape

(210, 3)